.loading {
  background-color: red;
}

body {
  padding: 50px;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e24;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.content-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: min-content;
}

.search-bar {
  display: flex;
  gap: 20px;
}

.search-box {
  border-radius: 10px;
  border: none;
  background-color: #000;
  color: white;
  padding: 10px;
  flex-grow: 1;
}

.search-box:focus {
  outline: none;
  box-shadow: 0px 2px white;
}

.search-box::placeholder {
  color: rgb(169, 169, 169);
}

.search-but,
.flip-unit {
  padding: 10px;
  border-radius: 10px;
  background-color: #000;
  color: white;
  border: none;
}

.search-but:active,
.flip-unit:active {
  text-shadow: 0px 0px 5px white;
}

.flip-unit {
  width: 50px;
}

.weather-info {
  border-radius: 10px;
  padding: 30px;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.8),
    rgb(0, 0, 0, 0)
  );
  font-size: 1.2rem;
  width: min-content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 410px;
}

.curr-info {
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
}

.weather-info > div {
  display: flex;
  flex-direction: column;
}

.address {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.city-name {
  font-size: 3rem;
  margin-top: -20px;
  margin-bottom: -10px;
}

.extra-address {
  font-size: 1.5rem;
}

.time-cond {
  display: flex;
  flex-direction: column;
}

.curr-icon > img {
  width: 125px;
  height: 125px;
}

.curr-temp {
  font-size: 4rem;
}
.icon-temp {
  display: flex;
  gap: 30px;
  padding: 20px 0px;
  justify-content: center;
}

.curr-temp > span {
  font-size: 2rem;
  vertical-align: top;
}

.extra-info {
  font-size: 1rem;
  grid-column: 1/3;
  display: flex;
  gap: 30px;
  align-self: center;
}

.extra-info > div {
  text-align: center;
}

.extra-info > div > :first-child {
  font-weight: bold;
}

.days-cont {
  grid-column: 2/3;
  grid-row: 1;
  width: min-content;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
  border-radius: 10px;
  scroll-behavior: smooth;
}
.days-cont::-webkit-scrollbar {
  background-color: rgb(0, 0, 0, 0.5);
}
.days-cont::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

.days {
  display: grid;
  grid-template-columns: 50px 130px;
  grid-template-rows: min-content min-content;
  grid-auto-flow: row;
  justify-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.days > img {
  height: 50px;
  width: 50px;
  align-self: center;
  grid-row: 1/3;
}

.date {
  font-size: 1rem;
}

.temp-cont {
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  grid-column: 2/3;
}
.temp-name {
  grid-column: 2/3;
  font-size: 0.8rem;
  font-weight: bold;
}

.temp-cont :nth-child(2) {
  font-weight: bold;
}

.dialog {
  display: none;
}

.content-body .dialog-show {
  display: block;
  color: white;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.8),
    rgb(0, 0, 0, 0)
  );
}
